body {
  background: linear-gradient(10deg, rgb(109, 1, 1), black);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.card {
  position: relative;
  width: 400px;
  height: 700px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: cursive;
  cursor: pointer;

  background: 
    url('https://i.pinimg.com/1200x/d3/e2/32/d3e232d1726d70916ffa764af95f5675.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.4s ease-in-out;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px;
  border-radius: 10px;
  background: linear-gradient(10deg, black, rgb(168, 2, 2));
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;

  pointer-events: none;
}

.card:hover {
  background: 
    url('https://i.pinimg.com/1200x/7c/a1/33/7ca13305cd7ccfa14d81c4a807a7ee83.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  box-shadow: 
    0 0 40px #d60101,
    0 0 60px #191c29;

  transform: perspective(1000px) rotateY(180deg);
}
