body {
  background: linear-gradient(10deg, rgb(109, 1, 1), black);
  margin: 20px 650px;
}

.card {
  background: #191c29;
  width: 550px;
  height: 850px;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(10deg, rgb(90, 1, 1), rgb(0, 0, 0));
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  font-family: cursive;
  background-image: url('https://i.pinimg.com/736x/cd/2e/59/cd2e593b9acdd70e76f3d2e56f15ceb0.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  
  transition: 0.4s ease-in-out;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 7px; 
  border-radius: 10px;
  background: linear-gradient(10deg, black, rgb(168, 2, 2));
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
  pointer-events: none;
}

.card:hover {
  background-image: url('https://i.pinimg.com/736x/54/aa/33/54aa3326b7397ff0239cf44cc688194c.jpg');
  border: none;
  box-shadow: 0 0 40px #d60101,
              0 0 60px #191c29;
  

}

